<div class="container">
    <section class="keboard_section">
  <div class="keyboard">
    <div class="line first_line">
      <div class="key_btn"><p class="key_btn_text_en">±</p>
            <p class="key_btn_text_en">§</p>
</div>
      <div class="key_btn"><p class="key_btn_text_en">!</p>
        <p class="key_btn_text_en">1</p></div>
      <div class="key_btn"><p class="key_btn_text_en">@</p>
        <p class="key_btn_text_en">2</p></div>
      <div class="key_btn"><p class="key_btn_text_en">#</p>
        <p class="key_btn_text_en">3</p></div>
      <div class="key_btn"><p class="key_btn_text_en">$</p>
        <p class="key_btn_text_en">4</p></div>
      <div class="key_btn"><p class="key_btn_text_en">%</p>
        <p class="key_btn_text_en">5</p></div>
      <div class="key_btn"><p class="key_btn_text_en">^</p>
        <p class="key_btn_text_en">6</p></div>
      <div class="key_btn"><p class="key_btn_text_en">&</p>
        <p class="key_btn_text_en">7</p></div>
      <div class="key_btn"><p class="key_btn_text_en">*</p>
        <p class="key_btn_text_en">8</p></div>
      <div class="key_btn"><p class="key_btn_text_en">(</p>
        <p class="key_btn_text_en">9</p></div>
      <div class="key_btn"><p class="key_btn_text_en">)</p>
        <p class="key_btn_text_en">0</p></div>
      <div class="key_btn"><p class="key_btn_text_en">_</p>
        <p class="key_btn_text_en">-</p></div>
      <div class="key_btn"><p class="key_btn_text_en">+</p>
        <p class="key_btn_text_en">=</p></div>
      <div class="key_btn"></div>
    </div>
    <div class="line second_line">
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en tab">&#x2192;</p></div>
      <div class="key_btn key_btn_second_line">
        <p class="key_btn_text_en" id="q">Q</p>
        <p class="key_btn_text_en ru" id="й">Й</p>
    </div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="w">W</p>
     <p class="key_btn_text_en ru">Ц</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="e">E</p>
     <p class="key_btn_text_en ru">У</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="r">R</p>
     <p class="key_btn_text_en ru">К</p>
    </div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="t">T</p>
     <p class="key_btn_text_en ru">Е</p>
    </div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="y">Y</p>
     <p class="key_btn_text_en ru">Н</p>
    </div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="u">U</p>
     <p class="key_btn_text_en ru">Г</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="i">I</p>
     <p class="key_btn_text_en ru">Ш</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="o">O</p>
     <p class="key_btn_text_en ru">Щ</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en" id="p">P</p>
     <p class="key_btn_text_en ru">З</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en">{</p>
     <p class="key_btn_text_en ru">Х</p></div>
      <div class="key_btn key_btn_second_line"><p class="key_btn_text_en">}</p>
     <p class="key_btn_text_en ru">Ъ</p>
    </div>
    </div>
    <div class="line third_line">
      <div class="key_btn key_btn_third_line"></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="a">A</p>
     <p class="key_btn_text_en ru">Ф</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="s">S</p>
     <p class="key_btn_text_en ru">Ы</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="d">D</p>
     <p class="key_btn_text_en ru">В</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="f">F</p>
     <p class="key_btn_text_en ru">А</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="g">G</p>
     <p class="key_btn_text_en ru">П</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="h">H</p>
     <p class="key_btn_text_en ru">Р</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="j">J</p>
     <p class="key_btn_text_en ru">О</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="k">K</p>
     <p class="key_btn_text_en ru">Л</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en" id="l">L</p>
     <p class="key_btn_text_en ru">Д</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en">:</p>
     <p class="key_btn_text_en ru">Ж</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en">"</p>
     <p class="key_btn_text_en ru">Э</p></div>
      <div class="key_btn key_btn_third_line"><p class="key_btn_text_en">|</p>
     <p class="key_btn_text_en ru">Ё</p></div>
    </div>
        <div class="line forth_line">
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en shift_left">&#11014;</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en">~</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="z">Z</p>
     <p class="key_btn_text_en ru">Я</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="x">X</p>
     <p class="key_btn_text_en ru">Ч</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="c">C</p>
     <p class="key_btn_text_en ru">С</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="v">V</p>
     <p class="key_btn_text_en ru">М</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="b">B</p>
     <p class="key_btn_text_en ru">И</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="n">N</p>
     <p class="key_btn_text_en ru">Т</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en" id="m">M</p>
     <p class="key_btn_text_en ru">Ь</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en">&#x2039;</p>
     <p class="key_btn_text_en ru">Б</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en">&#x203A;</p>
     <p class="key_btn_text_en ru">Ю</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en">?</p></div>
      <div class="key_btn key_btn_forth_line"><p class="key_btn_text_en shift">&#11014;</p></div>
    </div>
    <div class="fifth_line_wrapper">
         <div class="line fifth_line">
      <div class="key_btn key_btn_fifth_line"><p class="fn">fn</p></div>
      <div class="key_btn key_btn_fifth_line"><p class="key_btn_text_en ru">^</p>
    <p class="key_btn_text_en ctr">control</p></div>
      <div class="key_btn key_btn_fifth_line"><p class="opt">option</p></div>
      <div class="key_btn key_btn_fifth_line"><p class="comm">command</p></div>
      <div class="key_btn key_btn_fifth_line" id="space"></div>
      <div class="key_btn key_btn_fifth_line"><p class="comm">command</p></div>
      <div class="key_btn key_btn_fifth_line"><p class="opt">option</p></div>
    </div>
      <div class="line fifth_line_second">
         <div class="key_btn key_btn_fifth_line_arrow">
            <p class="key_btn_text_en arrow">&#x25B2;	</p>
         </div>
         <div class="key_btn_fifth_wrapper">
        <div class="key_btn key_btn_fifth_line_arrow">   
                <p class="key_btn_text_en arrow">&#x25C4;</p></div>
      <div class="key_btn key_btn_fifth_line_arrow">    
           <p class="key_btn_text_en arrow">&#x25BC;</p></div>
      <div class="key_btn key_btn_fifth_line_arrow">   
            <p class="key_btn_text_en arrow">&#x25BA;</p></div>
         </div>
      </div> 
    </div>
  
  </div>
  </div>
</section>
</div>
