/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./keyboard.css');
@import url('./textarea.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  align-items: center;
}

body {
  background: #86AFBC;
}